<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div> 

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name">post title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>

      <div class="form-group">
        <label for="post-desc">description:</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  {{#if posts}}
  <section>
    <h2>Your Reviews</h2>
    <ol>
      {{#each posts as |Post|}}
        <article
          style="border: 1px solid black; border-radius: 10px; background-color: rgb(233, 209, 177); font-size: 30px;"
          class="review"
        >
          <header class="title">
            <div>
              <a href="/posts/{{id}}">{{Post.title}}</a>
              <div>
                Created
                on
                {{format_date Post.date_created}}</div>
            </div>
            <div class="content">
              <p>{{post.post_content}}</p>
            </div>
            <button data-id="{{Post.id}}" id="del-butt">Delete</button>
          </header>
        </article>
      {{/each}}
    </ol>
  </section>
  
{{/if}}
</div>

<script src="./js/post.js"></script>