{{#each posts as |Post|}} 

    <div class="row mb-4 project"> 
        <div class="col-md-5"> 
            <div class="col-8">
                <h2>
                    <a class="text-uppercase" href="/post/{{Post.id}}">{{Post.title}}</a>
                </h2>
            </div> 

        </div>  

        <div class="col-4">
            <p class="text-right">Created by
            {{Post.user.name}}
            on
            {{format_date Post.date_created}}
            </p>
        </div> 
        <div class="container">
            <p class="text-center">
                {{Post.post_content}}
            </p>
        </div>






    </div> 
{{/each}}